<div class="overview">
  <h2>Lineare Algebra 1</h2>
  <div class="bottom">
    <h3>Übersicht</h3>
    <p>
      Hier beginnt alles! Ein praxisorientierter Einstieg in die Welt
      der linearen Algebra. Der Kurs deckt den Stoff eines Semesters
      ab und bereitet dich für alles weitere vor.
    </p>
  </div>
</div>

<style>
  .overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
  }
  h2 {
    font-weight: 500;
    text-align: center;
  }
  h3 {
    font-weight: 600;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
