<header>
  <h1><a href="/">Lineare Algebra 1</a></h1>
</header>

<style>
  header {
    background-color: var(--background);
    color: var(--white);
    text-align: center;
    background-color: rgb(39, 39, 39);
    padding: 5px 20px;
    margin-bottom: 2;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
</style>
