---

---

<header>
  <h1><a href="/">MathX</a></h1>
</header>

<style>
  h1 {
    font-weight: 500;
  }

  header {
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    color: var(--white);
    background-color: var(--background);
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
    width: 100%;
  }
</style>
