:root {
  --background: #101828;
  --brighter: #1e293998;
  --sec: #8ec5ff;
  --sec2: rgb(2, 102, 97);
  --white: #d1d5dc;
  --def: #a9792b;
}

* {
  font-family: 'Inter', serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background-color: var(--background);
}

main {
  display: flex;
  width: 70%;
  max-width: 700px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

a,
li {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  line-height: 1.7rem;
}

p {
  line-height: 1.7rem;
}

strong {
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
