---
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  :root {
    --background: #101010;
    --sec: #a476ff;
    --white: #dfdfdf;
    --white-icon: #f3f3f398;
    --white-icon-tr: #f3f3f310;
    --font: 'montserrat', system-ui, sans-serif;
  }

  * {
    font-family: var(--font);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  main {
    background-color: var(--background);
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    color: var(--white);
  }

  img {
    display: block;
  }
</style>
